@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Sour Gummy', 'Courier New', Courier, monospace;
    font-size: 1em;
}

body {
    background-image: url('./img/clear-bg.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}

h1 {
    font-size: 4em;
    color: rgb(128, 6, 6);
    padding-left: 0.5em;
}

.location {
    font-size: 1.2em;
    text-align: center;
}

.maxmin {
    padding-top: 1em;
    font-size: 1.3em;
}

input, button {
    padding: 0.5em;
    border: 0;
    border-radius: 5px;
    font-family: 'Sour Gummy', 'Courier New', Courier, monospace;
    font-size: 1em;
}
input {
    width: 250px;
}

button {
    border: 1px solid darkgrey;
    background-color: azure;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    border: 1px solid darkgrey;
    background-color: rgb(212, 246, 246);
}

.wrapper {
    margin: 3% auto;
    position: relative;

    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    max-width: 500px;
    padding: 2em;
    background-color: rgba(226, 230, 230, 0.782);
    border-radius: 10px;
}

.wether-today {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding: 0.5em;
    /* background-color: aliceblue; */
    /* background-color: rgb(248, 252, 239); */
    background-color: rgba(241, 249, 249, 0.811);
    border-radius: 10px;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.form {
    display: flex;
    gap: 0.5em;
}

.today-temp {
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
}

details  {
    width: 100%;
    /* background-color: beige; */
    background-color: azure;
    /* background-color: beige; */
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
}

.wether-5days {
    width: 100%;
    background-color: azure;
    /* background-color: beige; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
    padding: 1em;
}

.wether-5days-left {
    display: flex;
    justify-content: left;
    gap: 1em;
    /* background-color: aqua; */
    width: 80%;
}

.test {
    display: flex;
    border-bottom: 1px solid gray;
}

.ico {
    width: 5%;
}

.grad {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 600;
}

.error {
    display: none;
}

 .wether-open {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
 }

 .wether-hidden {
    visibility: hidden; 
     opacity: 0;
    transition: 0.5s;
 }


.sk-circle {
    margin: 100px auto;
    width: 60px;
    height: 60px;
    position: absolute;
    /* visibility: hidden; 
     opacity: 0; */
  }
  
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  .sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }
  
  @-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

 @media (width <= 520px)
  {
    h1 {
        font-size: 3em
    }

    .form {
        /* padding: 1em; */
        background-color: aqua;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #search {
    margin: 0.5em auto;
    }



  }

  @media (width <= 420px) {
    #search {
        margin: 0.5em 0.5em;
    }

    .grad {
        width: 40px;
        height: auto;
        border-radius: 15px;
        position: static;
        top: 0px;
        right: 0px;
        font-weight: 600; 
    }
  }