@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Sour Gummy', 'Courier New', Courier, monospace;
    font-size: 1em;
}

body {
    background-image: url('./img/clear-bg.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}

h1 {
    font-size: 4em;
    color: rgb(128, 6, 6);
    padding-left: 0.5em;
}

.location {
    font-size: 1.2em;
    text-align: center;
}

.maxmin {
    padding-top: 1em;
    font-size: 1.3em;
}

input, button {
    padding: 0.5em;
    border: 0;
    border-radius: 5px;
    font-family: 'Sour Gummy', 'Courier New', Courier, monospace;
    font-size: 1em;
}
input {
    width: 250px;
}

button {
    border: 1px solid darkgrey;
    background-color: azure;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    border: 1px solid darkgrey;
    background-color: rgb(212, 246, 246);
}

.wrapper {
    margin: 3% auto;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    max-width: 500px;
    padding: 2em;
    background-color: rgba(226, 230, 230, 0.782);
    border-radius: 10px;
}

.wether-today {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding: 0.5em;
    /* background-color: aliceblue; */
    /* background-color: rgb(248, 252, 239); */
    background-color: rgba(240, 255, 255, 0.778);
    border-radius: 10px;
}

.today-temp {
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
}

details  {
    width: 100%;
    /* background-color: beige; */
    background-color: azure;
    /* background-color: beige; */
    padding: 0.5em;
    border-radius: 5px;
}

.wether-5days {
    width: 100%;
    background-color: azure;
    /* background-color: beige; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
    padding: 1em;
}

.wether-5days-left {
    display: flex;
    justify-content: left;
    gap: 1em;
    /* background-color: aqua; */
    width: 80%;
}

.test {
    display: flex;
    border-bottom: 1px solid gray;
}

.ico {
    width: 5%;
}

.error {
    display: none;
}